In [23]:
import ccxt
import pandas as pd
import pprint
import datetime
print ('ccxt version', ccxt.__version__)

# From timestamp to Datetime
def convert_from_ms(value):
    return datetime.datetime.fromtimestamp(value)

ccxt version 1.62.81

In [24]:
exchange = ccxt.binance()
markets= exchange.load_markets()
print(f"numero mercati: {len(markets)}")

numero mercati: 2114

In [27]:
symbol='BTC/USDT'

ohlcv=exchange.fetch_ohlcv(symbol,'1d', limit=1000)
if len(ohlcv):
    df = pd.DataFrame(ohlcv, columns=['timestamp','open','high','low','close','volume'])
    #df['datetime']=pd.to_datetime(df['timestamp'],unit='ms')
    df['date_parsed']=(df['timestamp']/1000).apply(convert_from_ms)
    #df['date']=instrument['date_parsed']
    df.index = df['date_parsed']
    df.drop('date_parsed', axis=1, inplace=True)
    
display(df)

,timestamp,open,high,low,close,volume
date_parsed,,,,,,
2020-02-09 01:00:00,1581206400000,9895.04,10166.00,9880.75,10151.75,43408.475616
2020-02-10 01:00:00,1581292800000,10151.72,10188.00,9756.00,9851.83,59573.084619
2020-02-11 01:00:00,1581379200000,9851.74,10323.59,9700.00,10223.08,62422.395224
2020-02-12 01:00:00,1581465600000,10223.08,10450.00,10223.08,10326.46,61008.063930
2020-02-13 01:00:00,1581552000000,10325.33,10500.00,10080.00,10229.63,79344.358759
...,...,...,...,...,...,...
2022-10-31 01:00:00,1667174400000,20627.48,20845.92,20237.95,20490.74,303567.616280
2022-11-01 01:00:00,1667260800000,20490.74,20700.00,20330.74,20483.62,279932.437710
2022-11-02 01:00:00,1667347200000,20482.81,20800.00,20048.04,20151.84,373716.272990
2022-11-03 01:00:00,1667433600000,20151.84,20393.32,20031.24,20207.82,319185.154400
2022-11-04 01:00:00,1667520000000,20207.12,21302.05,20180.96,21136.39,438858.500190